
/* modal  */
.bodyPadrao {
  position: fixed;
}
.modalFooterCliente {
  display: flex;
  justify-content: flex-end ; /* Alinha o botão à direita */
  align-items: end;
  padding: 15px;
  max-height: 100%;
  margin-top: 100px;
  
}

.modalFormCliente  {
  display: grid ;
  grid-template-columns: 1fr 1fr;
  gap: 15px; 
  padding: 10px;
}
.modalFormCliente  {
  height: 30px;
}
.modalBodyCliente {
  display: flex;
  padding: 15px;
  gap: 10px;
  margin-bottom: 5px;
}
.fade, .hide{
  opacity: 0;
  pointer-events: none;
}
.modalHide{
  top: 0;
}
.logoCliente{
  width: 200px;
}
.fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
}
